// // VARIABLE
// $pc: 'screen and (min-width: 1024px)';
// $tab: 'screen and (min-width: 788px)';
$root: './src';
$img: $root+'/img';

.content {
    padding: 10px;
}

.div-isbn {
    background-color: white;
    // background-image: url($img + '/icon_pre.png');
    margin: 4px 0;
    padding: 10px;

    p:first-child {
        background-image: url($img + '/icon_pre.png');
        background-repeat: no-repeat;
        background-size: 40px;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        padding-left: 40px;
    }
}