.snack-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
    background: white;
    z-index: 1;
}

a.snack-inner {
    display: block;
    width: calc(100% - 10px);
    padding: 10px 10px;
    padding-right: 60px;
}

.thumbnail {
    display: inline-block;
    width: 100px;
}

.snack-content {
    display: inline-block;
    width: calc(100% - 106px);
    padding-left: 10px;
    padding-left: 6px;
    vertical-align: top;
    text-align: left;
}

.snack-title {
    font-size: 22px;
    line-height: 22px;
}