figure {
    margin: 0;
    padding: 0;
}

.loading {
    width: 90%;
    // TODO: header分の高さを引く
    // SCSSを一つにまとめてheader高さ変数を使用
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.outer {
    width: 100%;
}

.figureLoading {
    width: 100%;

    img {
        max-width: 100%;
    }
}