// // RESET
body,
h1,
h2,
h3,
h4,
h5,
ul,
li,
p,
a,
div,
form {
  height: auto;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

// FONT
* {
  font-feature-settings: 'palt' 1;
  font-family: '游ゴシック', 'Yu Gothic', '游ゴシック体', YuGothic, sans-serif;
}

// VARIABLE
$root: './src';
$img: $root + '/img';

// LibrarySearch
body {
  background: #f7f7f7;
}

.content {
  padding: 10px;
}

// Loading
figure {
  margin: 0;
  padding: 0;
}

.toastArea {
  width: 90%;
  // TODO: header分の高さを引く
  // SCSSを一つにまとめてheader高さ変数を使用
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.outer {
  width: 100%;
}

.figureArea {
  width: 100%;

  img {
    max-width: 100%;
  }
}

// BookData
.bookdata {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
  background: white;
  z-index: 1;

  &__inner {
    display: block;
    width: calc(100% - 10px);
    padding: 10px 10px;
    padding-right: 60px;
  }

  &__thumbnail {
    display: inline-block;
    width: 100px;
  }

  &__content {
    display: inline-block;
    width: calc(100% - 106px);
    padding-left: 10px;
    padding-left: 6px;
    vertical-align: top;
    text-align: left;
  }

  &__title {
    font-size: 22px;
    line-height: 22px;
  }
}

// Router Transition

.animate-enter {
  opacity: 0;
  z-index: 1;
}

.animate-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.animate-exit {
  display: none;
}

// Maerial icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format('woff2');
}

// MATERIAL ICONS
//   OverWrite Material Lite Icons
header {
  .material-icons {
    font-size: 29px;
    line-height: 1.7;
  }
}
